<!DOCTYPE html>
<html lang="en">
  <link type="text/css" rel="stylesheet" id="dark-mode-custom-link" />
  <link type="text/css" rel="stylesheet" id="dark-mode-general-link" />
  <style lang="en" type="text/css" id="dark-mode-custom-style"></style>
  <style lang="en" type="text/css" id="dark-mode-native-style"></style>
  <style lang="en" type="text/css" id="dark-mode-native-sheet"></style>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokemon - Fight</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&amp;display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script defer src="app.js"></script>
  </head>
  <body>
    <div id="game">
      <h1 class="title">Arredo3 Pokemon Battle</h1>
      <div class="battle-scene">
        <div class="box-top-left">
          <h2 class="pokemon" v-for="bot in botPokemon">{{ bot.name }}</h2>
          <div class="hp-bar-top">
            <div class="hp-bar-fill" style="width: 100%"></div>
          </div>
          <h4 class="level" v-for="bot in botPokemon">{{ bot.liv }}</h4>
        </div>
        <div class="box-top-right">
          <img
            src="http://pre01.deviantart.net/959a/th/pre/f/2016/075/4/6/095_onix_by_rayo123000-d9vbjj3.png"
            class="pokemon-top"
          />
        </div>
        <div class="box-bottom-left">
          <img
            src="http://guidesmedia.ign.com/guides/059687/images/blackwhite/pokemans_006.gif"
            class="pokemon-bottom"
          />
        </div>
        <div class="box-bottom-right">
          <h2 class="pokemon" v-for="user in userPokemon">{{ user.name }}</h2>
          <div class="hp-bar-bottom">
            <div class="hp-bar-fill" style="width: 100%"></div>
          </div>
          <h4 class="level" v-for="user in userPokemon">{{ user.liv }}</h4>
          <h4 class="hp" v-for="user in userPokemon">{{ user.health }} / 100</h4>
        </div>
        <div class="bottom-menu">
          <div class="battle-text text-box-left">What will Charizard do?</div>
          <div class="text-box-right">
            <div id="battleOptions"v-for="option in optionUserPokemon">
              <h4 class="battle-text-top-left" >{{ option.option1 }}</h4> <!--Add Button 'Scratch' 'Fly' 'Flamethrower' 'Ember'-->
              <h4 class="battle-text-top-right">{{ option.option2 }}</h4> <!--You're our only hope Charizard!-->
              <h4 class="battle-text-bottom-left">{{ option.option3 }}</h4> <!--No items in bag.-->
              <h4 class="battle-text-bottom-right">{{ option.option4 }}</h4> <!--Can'Espace-->
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </body>
</html>